@using System.Threading
@using System.Security.Claims

<div class="claims">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                Client Claims
            </h1>
            <div>Below is the list of claims you have.</div>
        </div>
    </div>
    @foreach(var claim in (Context.User as ClaimsPrincipal).Claims)
    {
        <div class="row claim">
            <div class="col-sm-5">
                <div class="claimtype">@claim.Type</div>
            </div>
            <div class="col-sm-5">
                <div class="claimvalue">@claim.Value</div>
            </div>
        </div>
    }
</div>